/*==========================
    Spacing variables
==========================*/
.u-mr-b-large {
  margin-bottom: 8rem;
}
.u-mr-b-medium {
  margin-bottom: 4.8rem;
}
.u-mr-b-small {
  margin-bottom: 1.8rem;
}
.u-mr-t-huge {
  margin-bottom: 10rem;
}
/*==========================
    Alignment Variables
==========================*/
.u-align-h-center {
  text-align: center;
}
