/*==========================
    Spacing variables
==========================*/
.u-mr-b-large {
  margin-bottom: 8rem !important;
}
.u-mr-b-medium {
  margin-bottom: 4.8rem !important;
}
.u-mr-b-small {
  margin-bottom: 1.8rem !important;
}
.u-mr-t-huge {
  margin-top: 10rem !important;

  @include respond(port-tab) {
    margin-top: 3rem !important;
  }
}
.u-mr-t-medium {
  margin-top: 4.8rem !important;
}
/*==========================
    Alignment Variables
==========================*/
.u-align-h-center {
  text-align: center !important;
}
