.header {
  height: 95vh;
  background: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg) center center/cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__logo-box {
    position: absolute;
    top: 3.6rem;
    left: 3.6rem;

    & .logo {
      height: 2.4rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
